.authHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px - 80px - 70px);
}

.authHeaderContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.authGoSignup {
  text-align: center;
}

.signUpFormLeft {
  margin-right: 30px;
  width: 320px;
}

.signUpFormRight {
  width: 320px;
}

@media screen and (max-width: 768px) {
  .signUpFormLeft {
    margin-right: 0px;
    width: auto;
  }

  .signUpFormRight {
    width: auto;
  }
}
